<div id="brickwall">
    <img src="/images/IMAG1450.jpg" alt="" />
</div>

{{message}}
<div class="col-lg-6 contribute">
  <form id="gotime" action="/account/register" method="post">
    <select id="location_id">
      {{#each location}}
        <option name="location_id" value="{{this.location_id}}">{{this.location_id}} - {{this.art_piece_name}} - {{this.intersection}}</option>
      {{/each}}
    </select>
      <br>
      <br>
        <label>Date Taken</label>
        <input class="form-control font" type="date" id="date" name="date" value="">
        <br>
        <label class="file">
        <input type="file" id="inputFileToLoad" onchange="readURL(this)" >
        <input type="hidden" id="myImage" name="image" value="">
        </label>
        <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
