<div id="brickwall">
    <img src="/images/IMAG1384.jpg" alt="" />
</div>

<h1>{{title}}</h1>
<h3>location:{{location}}</h3>
<h3>art piece name: {{art_piece_name}}</h3>
<h3>description: {{description}}</h3>
<h3>directions: {{directions}}</h3>
<h3>artist: {{artist}}</h3>
