<div id="brickwall">
    <img src="/images/IMAG1418.jpg" alt="" />
</div>


<div class="col-lg-12 locations">
<h1>{{title}}</h1>
</div>


<div class="container picinfo">

<div class="col-lg-4 login">
<h3>location: {{location}}</h3>
<h3>art piece name: {{art_piece_name}}</h3>
<h3>description: {{description}}</h3>
<h3>directions: {{directions}}</h3>
<h3>artist: {{artist}}</h3>
</div>

<div class="col-lg-1"></div>

<div class="col-lg-7">
    <img class="my-img" src="/images/IMAG1406.jpg"/>
</div>

</div>
