<div id="brickwall">
    <img src="/images/IMAG1492.jpg" alt="" />
</div>


{{#each display}}
<p>Location ID: {{this.location_id}}</p>
<p>art_piece_name:{{this.art_piece_name}}</p>
<p>intersection:{{this.intersection}}</p>
<p>desc:{{this.description}}</p>
<p>directions:{{this.directions}}</p>
<br/>
{{/each}}
