<div id="brickwall">
    <img src="/images/IMAG1418.jpg" alt="" />
</div>

<div class="col-lg-12 locations">
<h1>{{title}}</h1>
</div>

<div class="container picinfo">

<div class="col-lg-4 login">
{{#each display}}
<h4 class="details">location ID:</h4> <h4>{{this.location_id}}</h4>
<h4 class="details">art piece name:</h4> <h4>{{this.art_piece_name}}</h4>
<h4 class="details">description:</h4> <h4>{{this.description}}</h4>
<h4 class="details">intersection:</h4> <h4>{{this.intersection}}</h4>
<h4 class="details">directions:</h4> <h4>{{this.directions}}</h4>
<h4 class="details">artist:</h4> <h4>{{this.artist}}</h4>
<br>
</div>

<div class="col-lg-1"></div>

<div class="col-lg-7">
{{#each this.image}}
<img class="my-img" src={{this.image}}>
<br/>
{{/each}}
{{/each}}

</div>

</div>
